@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,500;1,100;1,500&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}
/* nav-bar */
header {
  height: 60px;
  background-color: rgb(10, 10, 10) ;
  display: flex;
  justify-content: space-evenly;
  position: relative;
  top: 0px;
  z-index: 2;
}
.site-nav {
  position: absolute;
  right: 0;
  left: 0;
  margin-top: 1em;
  background-color: #0000;
  clip-path: circle(0px at top right);
  transition: clip-path ease-in-out 700ms;
}
.site-nav-open {
  clip-path: circle(150% at top right);
}
.site-nav ul {
  justify-content: center;
  padding: 0;
  list-style: none;
}
.site-nav li {
  border-bottom: 1px solid #06dce3;
}


.site-nav a {
  background-color: black;
  color: #ffffff;
  display: block;
  padding: 1em 6em;
  text-transform: uppercase;
  text-decoration: none;
}
.site-nav a:hover,
.site-nav a:focus , .site-nav a :active{
  color: #d3ba14;
  text-decoration: underline;
}
.menu-toggle {
  padding: 1em;
  position: absolute;
  top: 0.5em;
  right: 0.5em;
}
.menu-open .hamburger {
  transform: rotate(45deg);
}
.menu-open .hamburger::before {
  opacity: 0;
}
.menu-open .hamburger::after {
  transform: translateY(-3px) rotate(-90deg);
}
.hamburger,
.hamburger::before,
.hamburger::after {
  content: '';
  display: block;
  background-color: #06dce3;
  height: 3px;
  width: 1.75em;
  border-radius: 3px;
  transition: all ease-in-out 500ms;
}
.hamburger::before {
  transform: translateY(-6px);
}
.hamburger::after {
  transform: translateY(3px);
}
/* section */
body{
  height: 100vh;
}
.random-text{
  color: rgb(234, 202, 21); 
  text-align: center;
  padding: 30px;
  font-size: 30px;
  text-shadow:1px 1px 2px rgb(14, 14, 14), 0 0 1em rgb(255, 0, 0), 0 0 0.2em blue ;
}
/* form */

:root {
    --error-color: #dc3545;
    --success-color: #28a745;
    --warning-color: #ffc107;
}
.container {
 padding: 1em;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    width: 600px;
}

.form {
    padding: 10px 20px;
   }

.form h1 {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 20px;

}
.form-field {
    margin-bottom: 5px;
}

.form-field label {
    display: block;
    color: #150e0e;
    margin-bottom: 5px;
}
.form-field input, .form-field textarea{
    border: solid 2px #f0f0f0;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 5px;
    font-size: 14px;
    display: block;
    width: 100%;
}
.form-field textarea{
  height: 200px;}

  .form-field.error input {
    border-color: var(--error-color);
}
.form-field.error select {
  border : 2px solid var(--error-color);
}

.form-field.success input {
    border-color: var(--success-color);
}
.form-field.success select {
  border : 2px solid var(--success-color);
}
.form-field small {
    color: var(--error-color);
}


/* button */

.btn:hover {
    cursor: pointer;
}

.btn:focus {
    outline: none;
}
/* bulle background */
#background {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100vh;
   z-index: -1;
  background-image: url(images/images\ 2.jpg);
  background-size: cover;
  background-position:center ;
  background-repeat: no-repeat;
 }
/* footer */
footer {
  position: relative;
  z-index: 1;
  background-color: #000000;
  color: #fff;
  text-align: center;
  padding:6px;
}
h3 {
  font-size: 22px;
  margin-bottom: 20px;
}
p {
  font-size: 18px;
  margin-bottom: 20px;
}
.social-icons {
  display: flex;
  justify-content: center;
}
.social-icons a {
  margin: 0 10px;
}
.social-icons i {
  color: #ffc107;
  transition: all 0.3s ease-in-out;
}
.social-icons i:hover {
  color: #1212a2;
  transform: scale(1.2);
}
@media only screen and (min-width: 900px) {
    .menu-toggle {
      display: none;
    }
    .site-nav {
      background-color: black;
      height: auto;
      position: relative;
      float: right;
      margin-right: 10px;
      clip-path: initial;
    }
    .site-nav li {
      display: inline-block;
      border: none;
    }
    .site-nav a {
      padding: 0;
      margin-left: 3em;
    }
  }
  @media only screen and (max-width: 600px) {
 .container {
    width: 400px;
     }
  }
  @media only screen and (max-width: 400px) {
    .container {
       width: 300px;
        }
     }
  